.cart-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem;
}

.cart-price-details-container {
  padding: 2rem;
  margin: 2rem;
  background-color: var(--secondary-light-variant);
  max-height: 370px;
}

.cart-price-desc {
  display: grid;
  grid-template-columns: 70% auto;
  justify-content: space-between;
  padding: 0.5rem;
}

.cart-total-item {
  padding: 0.5rem;
  margin: 0 0.8rem;
  border: 1px solid var(--secondary);
  width: 3ch;
  border-radius: 3px;
}
