@import url(./utilities.css);
@import url(../pages/products/products.css);
@import url(../pages/Cart/cart.css);
@import url(../pages/wishlist/wishlist.css);

/* color variables */
:root {
  --overlay-clr: rgba(243, 243, 249, 0.77);
}

/* navigation */

.navigation-container {
  width: initial;
  background-color: var(--secondary-light-variant);
}

.badge-container a:visited,
.badge-container a:link {
  color: var(--primary);
}

.badge-container a:hover,
.badge-container a:active {
  color: var(--secondary-dark-variant);
}

/* hero section */

.hero-section {
  margin: 0.5rem 1rem;
  position: relative;
}

.hero-section img {
  height: 540px;
  width: 100%;
}

.hero-section-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 0.5rem 2.5rem;
  background-color: var(--overlay-clr);
  color: var(--primary);
}

/* collections */

.category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem;
  gap: 1rem;
}

.category img {
  height: 250px;
  width: 100%;
  margin-bottom: 0.5rem;
}

.category-wrapper {
  background-color: var(--background);
  padding: 1rem;
}

.category-wrapper:hover {
  box-shadow: var(--shadow);
  color: var(--secondary-dark-variant);
}

/* genre */

.genre-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 2rem;
  gap: 1rem;
}

.genre-container img {
  height: 210px;
  width: 100%;
}

/* choice */
.icon-container {
  position: relative;
}

.card-icon-vertical {
  right: 0.5rem;
  top: 0.8rem;
}

.card-container-vertical {
  height: 530px;
  border: 2px solid var(--white);
}

.card-container-vertical img {
  padding: 0.5rem;
  height: 40%;
}

.choice-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 2rem;
  justify-items: center;
}

.card-body-vertical {
  padding: 0 1rem;
}

.btn-place-order {
  width: 100%;
  margin: 0;
}

/* media queries */
@media (max-width: 1210px) {
  .card-4 {
    display: none;
  }
  .choice-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .genre-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .choice-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .genre-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-4 {
    display: block;
  }
}

@media (max-width: 550px) {
  .hero-section-body {
    padding: 0.5rem 1rem;
    width: 250px;
  }
  .choice-container {
    margin: 0.5rem;
  }
}

@media (max-width: 430px) {
  .choice-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .genre-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .category {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 370px) {
  .card-container-vertical {
    height: 282px;
  }
}
