@import url(./utilities.css);
@import url(../pages/products/products.css);
@import url(../pages/Cart/cart.css);
@import url(../pages/wishlist/wishlist.css);
@import url(../pages/Authentication/Authentication.css);

/* color variables */
:root {
  --overlay-clr: rgba(243, 243, 249, 0.77);
}

html {
  background-color: var(--color-white-400);
}

/* navigation */

.navigation-container {
  width: initial;
  box-shadow: var(--nav-shadow);
}

.badge-container a:visited,
.badge-container a:link {
  color: var(--color-primary-400);
}

.badge-container a:hover,
.badge-container a:active {
  color: var(--color-secondary-400);
}

/* hero section */

.hero-section {
  margin: 0.5rem 1rem;
  position: relative;
}

.hero-section img {
  height: 540px;
  width: 100%;
}

.hero-section-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 0.5rem 2.5rem;
  background-color: var(--overlay-clr);
  color: var(--color-primary-400);
}

/* collections */

.category {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 2rem;
  gap: 1rem;
  cursor: pointer;
}

.category img {
  height: 250px;
  width: 100%;
  margin-bottom: 0.5rem;
}

.category-wrapper {
  background-color: var(--color-secondary-200);
  padding: 1rem;
}

.category-wrapper:hover {
  box-shadow: var(--color-shadow);
  color: var(--color-secondary-900);
}

/* genre */

.genre-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 2rem;
  gap: 1rem;
  cursor: pointer;
}

.genre-container img {
  height: 210px;
  width: 100%;
}

/* choice */

.choice-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 2rem;
  justify-items: center;
}

.card-container-vertical,
.card-icon {
  background-color: var(--color-white-400);
}

.card-container-vertical img,
.card-container-horizontal img {
  cursor: pointer;
}

.card-container-vertical,
.card-container-horizontal {
  text-align: center;
}

.card-container-vertical:hover,
.card-container-horizontal:hover {
  box-shadow: var(--color-shadow);
}

.btn-full-width {
  width: 100%;
  margin: 0;
}

.btn-shop {
  margin-left: 0;
}

/* media queries */
@media (max-width: 1210px) {
  .genre-container,
  .choice-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .genre-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px) {
  .hero-section-body {
    padding: 0.5rem 1rem;
    width: 250px;
  }

  .choice-container {
    margin: 0.5rem;
  }
}

@media (max-width: 430px) {
  .genre-container,
  .category {
    grid-template-columns: 1fr;
  }

  .choice-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
