:root {
  /* nav shadow */
  --nav-shadow: 0 0 4px rgb(0 0 0 / 40%);
}

/* image */

.img-center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* padding */

.pl-1 {
  padding-left: 0.5rem;
}

.padding-bottom-xs {
  padding-bottom: 5px;
}